<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Profil Mahasiswa</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="card">
    <img src="<%= mahasiswa.foto %>" alt="Foto Mahasiswa">
    <h2><%= mahasiswa.nama_lengkap %></h2>
    <p><strong>NIM:</strong> <%= mahasiswa.nim %></p>

    <div class="info">
      <p><strong>Fakultas</strong>: <%= mahasiswa.fakultas %></p>
      <p><strong>Jurusan</strong>: <%= mahasiswa.jurusan %></p>
      <p><strong>Program Studi</strong>: <%= mahasiswa.prodi %></p>
      <p><strong>Tahun Masuk</strong>: <%= mahasiswa.tahun_masuk %></p>
    </div>
    <a href="/list" class="btn kembali">⬅ Kembali ke Daftar</a>
  </div>
</body>
</html>
